@{
    ViewData["Title"] = "Basic Restaurant Website";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This a basic website that imitates a website for a restaurant and its basic functions. Admin accounts are able to Edit/Add/Delete new ingredients/menu items on the relevant pages. Whilst only users can view to order pages. A default admin login can be found in program.cs to access those features.</p>
</div>
