@{
    ViewData["Title"] = "Basic Restaurant Website";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This a basic website that imitates a website for a restaurant and its basic functions, some functions such as adding menu items are accessible to all although in a real application they would be left for a admin role.</p>
</div>
