@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Jokes Application</h1>
    <p>A small joke application made with the purpose of learning ASP.NET Core.</p>
</div>
